<!--<div class="ui bottom attached header">-->
<!--
    <div class="ui container">
        <h1 class="ui center aligned header">FROM THE FOOTER PAGE !!</h1> 
    </div>
 -->
<div class="ui attached segment"></div>
<!--<h3 class="ui bottom attached header">-->
    <h1>Copyright <i class="copyright outline icon"></i> Trademark 2020</h1> 
    
</h3>
</div>
</body>
</html>